# Exploratory Data Analysis

- This notebook is to perform EDA (Exploratory Data Analysis) on Tweet Sentiment Extraction Dataset.
- The sentiment is classified into 3 classes: Positive, Negative and Neutral.
This is used to analyse:
1. Understanding Data Distribution
2. Identifying Data Quality Issues
3. Preprocessing Strategy
4. Top Words Analysis

In [1]:
import pandas as pd
from collections import defaultdict
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import string
%matplotlib inline
from plotly import graph_objs as go
import plotly.express as px

In [2]:
nltk.download('punkt')
nltk.download("stopwords")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\pugal\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pugal\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

### Loading the Dataset

In [10]:
df=pd.read_csv("train.csv")
df.head(2)

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative

In [11]:
df=df.drop(columns=['selected_text'])
df.head(2)
df["text"]=df["text"].astype(str)

In [12]:
df.shape

(27664, 3)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27664 entries, 0 to 27663
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     27664 non-null  object
 1   text       27664 non-null  object
 2   sentiment  27664 non-null  object
dtypes: object(3)
memory usage: 648.5+ KB

In [14]:
df.describe()

            textID                  text sentiment
count        27664                 27664     27664
unique       27663                 27654         3
top     6f7127d9d7  Not worth the money.   neutral
freq             2                     4     11118

In [16]:
df[df.duplicated()]

Empty DataFrame
Columns: [textID, text, sentiment]
Index: []

In [18]:
df[df["textID"]=='6f7127d9d7']

           textID                                               text sentiment
27480  6f7127d9d7     All this flirting going on - The ATG smiles...   neutral
27488  6f7127d9d7                               Not worth the money.  negative

In [24]:
df[df['sentiment']=="neutral"].count()

textID       11118
text         11118
sentiment    11118
dtype: int64